= error_messages_for :product

- form_for(:product, :url => admin_product_url(@product), :html => { :method => :put }) do |f|
%table.index
  %thead
    %tr
      %th
        = t("property")
      %th
        = t("value")
      %th
        = t("action")
  %tbody#product_properties
    = f.render_associated_form(@product.product_properties)
    %tr#none
      %td{ :colspan => "3" }
        = @product.product_properties.empty? ? "\#{t("none")}." : ""
%input{ :name => "clear_product_properties", :type => "hidden", :value => "true" }
  %p
    = f.add_associated_link(icon('add') + ' ' + t("add_product_properties"), @product.product_properties.build,  {:onclick => "jQuery('#none').hide();", :class => 'iconlink'})
    \&nbsp;&nbsp;
    %span#new_ptype_link
      = link_to_remote t("select_from_prototype"),
      \:url => available_admin_prototypes_url,
      \:method => :get,
      \:update => "prototypes"
  #prototypes
  = image_tag "spinner.gif", :plugin=>"spree", :style => "display:none", :id => 'busy_indicator'
  %br
  %p{:class=>"form-buttons"}
    = button "Update"
    or
    = link_to "Cancel", admin_product_images_url(@product), :id => "cancel_link"

